body{
    padding: 0;
    margin: 0;
    color: black;
    background-color: #a4e5f7; 
    background-image: url(../img/obj.jpg);
    background-size: 600px;
    background-position: right 200px;
    background-repeat: no-repeat;
}


header{
    background-color: #2eb3dd;
    min-height: 101px;

}

/* COMEÇO DO NAV */
ul{
    margin-top: 0;
    padding: 2%;
    text-align: center;
    display: flex; 
    flex-wrap: wrap;
    flex-basis: none;
    justify-content: space-between;
    list-style:none;
      
}

li{
    padding: 20px;
}


a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    
}

/* Começo do conteudo principal */
.conteudo{
    padding-top: 25px;
}

.conteudo h1{
    text-align: center;
    font-size: 40px;
    width: 40%;
    
}

.conteudo p{
    font-size: 30px;
    width: 40%;
    margin-left: 90px;
    text-align: justify;

}