body{
    padding: 0;
    margin: 0;
    background-color: #2f2f2f;
    color: white;     
}


header{
    background-color: black;
    height: 100%;
}
/* COMEÇO DO NAV */
ul{
    margin-top: 0;
    padding: 3%;
    word-spacing: 5vw;
    text-align: center;
    
    
}
li{
    display: inline-block;
    margin-left: 20px;
    letter-spacing: 2px;
    
    
   
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.conteudo{
    display: block;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 50%;

}

.conteudo h1{
    text-align: center;
    font-size: 40px;
}

.conteudo{
    font-size: 30px;

}

.imagem{
    float: right;
}

.imagem {
   background-image: url(../img/paginaRoubosLadrao.PNG);
   background-size: 100%;
   padding: 150px;
   box-sizing: border-box;
   margin-top: 10%;
   margin-right: 10%;
}