body{
    padding: 0;
    margin: 0;
    color: white;
    background-color: #ff9692;    
}


header{
    background-color: #fd6d67;
    height: 101px;

}

/* COMEÇO DO NAV */
ul{
    margin-top: 0;
    padding: 40px;
    word-spacing: 100px;
    text-align: center;
    
}
li{
    display: inline-block;
    margin-left: 20px;
    letter-spacing: 2px;
   
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}



.principal{
    padding-top: 25px;
}

h1{
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 0;
    margin-top: 0;
}
h2{
    font-size: 60px;
    margin-bottom: 0;
    margin-left: 25px;
    margin-top: 0;
}
h3{
    margin-left: 160px;
    font-size: 25px;
}
p{
    font-size: 20px;
    margin-top: 0;
    margin-left: 120px;
}

.integrantes{
    position: absolute;
    bottom: 15px;
    left: 20px;
 
}

.img1 img{
    position: absolute;
    width: 927px;
    height: 500px;
    left: 700px;
    top: 443px;
}

.img2 img{
    width: 400px;
    position: absolute;
    right: 150px;
    top: 150px;
}

.img3 img{
    position: absolute;
    left: 150px;
    width: 400px;
    height: 200px;
}