body{
    padding: 0;
    margin: 0;
    color: white;
    background-color: #ff9692;
    box-sizing: border-box;  
}


header{
    background-color: #fd6d67;
    min-height: 101px;
    
}

/* COMEÇO DO NAV */


ul{
    margin-top: 0;
    word-spacing: 80px;
    text-align: center;
    
    
    
}
li{
    display: inline-block;
    margin-left: 0px;
    letter-spacing: 2px;
    padding: 15px;
   
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}



.principal{
    padding-top: 25px;
    
}

h1{
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 0;
    margin-top: 0;
}
h2{
    font-size: 60px;
    margin-bottom: 0;
    margin-left: 25px;
    margin-top: 0;
}
h3{
    margin-left: 160px;
    font-size: 25px;
}
p{
    font-size: 20px;
    margin-top: 0;
    margin-left: 120px;
}

.integrantes{
    position: absolute;
    bottom: 15px;
    left: 20px;
 
}

.img1{
    background-image: url(../img/pedestrecerto.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
    height: 40%;
    left: 700px;
    top: 300px;
}

.img2{
    background-image: url(../img/nuvem01.jpg);
    background-size: cover;
    width: 20%;
    height: 25%;
    position: absolute;
    left: 900px;
    top: 100px;
}

.img3{
    background-image: url(../img/nuvem03.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    left: 150px;
    width: 20%;
    height: 200px;
}